.searchBar {
  background-color: #dededb;
  height: 54px;
}
.searchForm {
}
#search {
  height: 40px;
  padding-right: 70px;
  padding-left: 20px;
  font-family: WuerthBook, Raleway, "Helvetica Neue", Verdana, Arial, sans-serif;
  border: none;
  border-radius: 0;
  width: 100%;
  font-size: 18px;
  color: #605d5c;
}

.catalogue {
  max-width: 250px;
}

.initSesionButton {
  max-width: 170px;
}

.shopingBasket {
  max-width: 170px;
}

.searchBarBorder {
  border: 1px solid silver;
}

@media (max-width: 770px) {
  .catalogue {
    display: none;
  }
  .initSesionButton {
    display: none;
  }
  .shopingBasket {
    display: none;
  }
}
