.row {
  font-size: 15px;
}
.row1 {
  background-color: #c00;
  color: #fff;
}
.row2 {
  background-color: #dedede;
  color: #605d5c;
  height: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 30px;
}

.headerItems li {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0px 16px;
}

@media (max-width: 1024px) {
  .headerItems {
    font-size: 10px;
  }
  .row1 {
    font-size: 10px;
  }
}

@media (max-width: 770px) {
  .headerItems {
    display: none;
  }
  .row1 {
    display: none;
  }
  .row2 {
    display: none;
  }
}
