.catalogueItems {
  max-width: 250px;
  max-width: 250px;
}

.catalogueList li {
  margin-top: 3px;
}

.carruselItems {
  max-width: 1042px;
}
.columnItems {
  min-width: 255px;
}

.productImageCarrusel {
  max-width: 320px;
}

.card-group {
  background-color: #dedede;
}

.titleDivider {
  background-color: #dedede;
}

.carousel-control-prev-icon {
  background-color: #000;
}

.carousel-control-next-icon {
  background-color: #000;
}

@media (max-width: 1024px) {
  .menuItems li {
    font-size: 10px;
    padding: 0px 5px;
  }
}

@media (max-width: 770px) {
  .catalogueItems {
    display: none;
  }
}
