.logo-column {
  max-width: 250px;
  height: 100px;
}

.logo-wurth {
  max-width: 180px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menuItems li {
  float: left;
  display: block;
  text-align: center;
  padding: 0px 14px;
  text-decoration: none;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .menuItems li {
    font-size: 10px;
    padding: 0px 5px;
  }
}

@media (max-width: 770px) {
  .menuItems {
    display: none;
  }
}
