.footer {
  background-color: #dededb;
}

p {
  margin: 0;
  padding: 0;
}

.divider {
  display: none;
}

@media (max-width: 770px) {
  .footer {
    font-size: 12px;
  }
  .divider {
    display: block;
  }
}
